body {
    margin: 0 !important;
    color:#21243D ;
    font-family: 'Comfortaa', cursive;
  }
  
  .respawn {
    color: rgb(224 , 0, 77) !important;
}
  
  
  
  .form-control, .btn{
    border-radius: 0;
    
  }
  
  
  
  .team, footer {
    background: #21243D;
   
  }
  
  
  .navbar-brand {
    color: white !important;
  }
  
  #button:hover {
    border: none;
  background: rgb(224 , 0, 77);
  }
  
  #img {
    
    width: 230px;
    height: 150px;
  }
      
  
  .navbar{
    background: #21243D !important;
    opacity: .9 !important;
    color: white !important;
    
  }
  
  
  
  #imagen {
    width: 80px !important;
  }
  
  
  
  .nav-link {
    
    border-bottom: 1px solid transparent !important ;
  }
  
  
  .nav-link:hover{
  border-bottom: 1px solid rgb(224 , 0, 77)!important;
  }
  
  .navbar-nav a  {
    
    padding-left: 15px!important;
  }
  
  .nav-link {
    color: white !important;
  }