*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.body {
    font-family: 'Bebas Neue', cursive;
    background-color: #f9f7fd;
    
}

a {
    text-decoration: none;
    
}




.menu ul {
    
    padding-top: 20px;
}

.menu li {
    list-style: none;
    display: inline;
    padding: 0px 2rem;

   
}

.menu i {
    color: white;
    position: relative;
    top: 2px;
}

.menu img   {
    width: 100px;
    border-radius: 15px;
    margin-top: 15px;

}


.home {
    
    color: white;
    font-size: 1rem;
    text-decoration: none;
}


.home:hover {
    border-bottom: 1px solid white;
}


.show-case {
    width: 100%;
    height: 600px;
    background-image: url(img/header.jpg);
    background-color: rgb(100, 100, 100, 1);
    background-blend-mode: soft-light;  
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center center;
    animation: banner 28s infinite linear;
}

@keyframes banner {
    0% {background-image: url(img/header.jpg);}    

    25% {background-image: url(img/header.jpg);}

    26% { background-image: url(img/slider/1.jpg);}

    50% {background-image: url(img/slider/1.jpg);}

    51% {background-image: url(img/slider/2.jpg);}

    74% {background-image: url(img/slider/2.jpg);}

    75% {background-image: url(img/slider/3.jpg);}

    100% {background-image: url(img/slider/3.jpg);;}

}



.head {
    z-index: 2;
}

.head {

    position: relative;
    text-align: end;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-top: 200px;
    


}

.head h2  {
    position: relative;
    font-size: 2em;
    letter-spacing: 5px;
    margin-bottom: 40px;
    
}


.head input {
    
    width: 600px;
    font-size: 23px;
    height: 50px;
    border-radius: 15px;
    padding: 10px;
    border:0;
   
}






.head input:focus {
    border: 1px solid aquamarine;
    outline: none;
    
}



.head input:hover {
    border-color: pink;
}

.head .btn {
    width: 90px;
    height: 50px;
    border-radius: 10px;
    margin-top: 30px;
    background-color:rgb(225, 231, 233);
    padding: 5px 15px;
    outline: none;
    pointer-events: stroke;

}
.btn:hover {

background-color: #87CEFA;

}
.btn a {
    color: black;
    text-decoration: none;
    
}

.btn {
   
    border: none;

}

.puntua  {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 20px;
    cursor: pointer;
}

.puntua p:hover { 

    opacity: .6;
}
.menu-btn {
    display: none;
    color: white;
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
   
     
 }

 .dropdown {
     padding-top: 20px;
    background:rgb(225, 231, 233);
    border-radius: 10px;
    box-shadow: 4px 4px rgb(186, 190, 186);
    color: black;
    position: absolute;
    top: 23px;
    right: 0px;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    

 }

 .dropdown a {
     padding-top: 20px;
     color: black;
     display: block;
     padding: 10px;
 }


 .menu-btn:hover .dropdown {
    display: block;
}

.dropdown a:hover {
    border-bottom: 1px solid black;
}



.casa h2 {
    padding-top: 50px;
    text-align: center;
    font-size: 2em;
    color: black;
    font-weight: 1000;
    letter-spacing: 5px;
    margin-bottom: 40px;
    text-transform: uppercase;
    opacity: .8;

}

.brock:hover {
    color: #211776;
}

.casa p {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Modak', cursive;
    font-family: 'Anton', sans-serif;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 5px;
    margin-bottom: 70px;



}
.portafolio {
   
    margin-left: 7%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 80px;
    gap: 25px;
    margin-bottom: 50px;

}

.portafolio img {
    width: 100%;
    height: 180px;
    border-radius: 15px;
}

.portafolio img:hover {
    opacity: .6;
}





.portafolio h3 {
    text-align: center;
   

}
.brock a {
    color:black;
    opacity: .8;
}



.brock {
   
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 150px;
    
    cursor: pointer;
    height: 150px;
}

.brock h3 {
    padding-top: 20px;
    color:#EC0ACA;
}
.brock span {

    font-size: 3em;
    color: #211776;
}


.brock:hover {
    
    transition:all .5s ease-in-out;
    
    -webkit-transform:scale(1.7);transform:scale(1.2);
  
  }

  .brock:hover {
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #6a6fb4;
    -webkit-box-shadow: 0px 0px 15px 15px #485683;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
   
  }

  .brock:hover {
  -webkit-transform: rotateY(360deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(360deg);
  transform-style: preserve-3d;}

  .brock h3:hover {
    color:#211776;
}

.portafolio a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}





.banner h2 {
    z-index: 2;
    padding-top: 20px;
    text-align: center;
    font-size: 3em;
    letter-spacing: 5px;
    color: white;
    padding-bottom: 30px;

}
.banner h5 {
z-index: 2;
text-align: center;
color: white;
font-size: 1.5em;
}

.contenido {
    position: relative;
    top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    justify-content: center;
}

.contenido button {
    cursor: pointer;
    width: 150px;
    padding: 10px;
    background: rgb(15, 54, 128);
    opacity: .8;
    border: none;
    color: white;
    outline: none;
}
.contenido a {
    color: white;
}


.contenido button:hover {
    opacity: .3;
}

.banner {
    background-image: url(img/banner.jpg);   
    width: 100%;
    height: 400px;
    background-color: rgb(61, 56, 56);
    background-blend-mode: soft-light;  
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center center;
    margin-bottom: 70px;
    align-items: center;
    justify-content: flex-end;
}

.qs {
    margin: 0;
    text-align: center;
    color: #211776;
    margin-bottom: 70px;
}

.qs h2 {
    font-size: 3em;
}

.qs p {
    padding-top: 30px;
    font-size: 1.5em;
}

.qs button {
    margin-top: 30px;
    padding: 10px;
    background-color:rgb(15, 54, 128);
    opacity: .8;
    border: none;
    width: 150px;
}

.qs a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.qs button:hover {
    opacity: .4;
}



 @media (max-width: 700px) {


    .head h2 {
        text-align: center;
        font-size: 2em;
    }

    .head input { 

        font-size: 15px;
        width: 300px;
    }
    .puntua { 
        font-size: 30px;
    }
     
    .menu-btn {
        display: block;
    }

    h2 { 
        font-size: 1em;
    }

    p {
        font-size: 0.5em;
    }

.qs button {
    margin-left: 30%;
}
.qs p {

    font-size: 1.5em;
    margin: 10px;
}
.puntua {
    margin-right: 30px;
}
.home {
    display: none;
}

    .menu-btn:hover .dropdown {
        display: block;
    }

button {
    
    display: block;
    width: 70px;
    height: 50px;
}

.portafolio {
    margin-left: 30%;
    grid-template-columns: repeat(2, 1fr);
}

.btn {
    position: absolute;
    right: 150px;
}

.contenido {
    position: relative;
    top: 90px;
}

.menu i {
    display: none;
}

 }

 @media (max-width: 500px) {

    h2 {
        font-size: 0.5em;
    }

    .portafolio {
        grid-template-columns: 1fr;
    }
 }