#nav{

	height: 70px;
    background-color: #21243D;
    font-family: 'Comfortaa', cursive;
}

#inicio a {
	color: #f5f5f5;
	border-bottom: 3px solid rgba(0,0,0,0);
}

#inicio a:hover{
	border-bottom: 3px solid #ff7c7c;

}

.buscador{
    
    margin-left: 15rem !important;
    text-align: center !important;
   	height: 30px !important;
	width: 400px !important;
}

#botonera{

	color: #ff7c7c
}

#imagen{
   
    float: left;
	width: 120px;
	height: 120px;

}