body,html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #f5f5f5;
  font-family: 'Comfortaa', cursive;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 30px;
  margin-bottom: 30px;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.navbar{
  background: #21243D !important;
  opacity: .9 ;
  color: white !important;
  
}



#imagen {
  width: 80px !important;
}



.nav-link {
  
  border-bottom: 1px solid transparent !important ;
}


.nav-link:hover{
border-bottom: 1px solid white !important;
}

.navbar-nav a  {
  
  padding-left: 15px!important;
}

.nav-link {
  color: white !important;
}


.azul{
  color: #21243d;
}
.ubicacion{
  position: relative;
  text-align: end;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-top: 200px;
}
.titulo{
  margin-top: 30px;
  font-size: 50px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.titulo2{
  padding-top: 30px;
}
.subtitulo{
  font-size: 20px;
  text-align: center;
  font-family: 'montserrat', sans-serif;
}
.subtitulo2{
  padding-top: 20px;
  padding-bottom: 10px;
}
.fondo-titulo{
  width: 100%;
  height: 650px;
background-image: url(img/titulo4.jpg);
background-color: rgb(50,50,50);
background-blend-mode: overlay;
background-repeat: no-repeat;
}
.contenedor-columnas{
  column-count: 2;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
}
.columna{
  width: 50%;
  margin: auto;
  column-count: 1;
  text-align: center;
  font-family: 'montserrat',sans-serif;
}
.seccion3{
  background-color: #21243d;
  color: white;
  padding-bottom: 20px;
}
.secciones{
  padding-top: 20px;
  
  letter-spacing: 1px;
  word-spacing: 3px;
  line-height:35px;
}
form{
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}
input, textarea{
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}
textarea{
  min-height: 100px;
  max-height: 200px;
  min-width: 100%;
  max-width: 100%;
}
.boton1{
  background: #21243d;
  color: white;
  border: 1px solid white;
}
#boton:hover {
  cursor: pointer;
}



@media (max-width:480px){
  form{
    width: 100%;
  }
}