body {
    background-color: #333;
    color: #fff;
  font-family: 'Comfortaa', cursive;
  }
  
  
  
  #home-section {
    background: url('img/titulo4.jpg') no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .dark-overlay {
    background-color: rgba(0, 0, 0, .7);
  
  }
  
  .home-inner {
    padding-top: 200px;
  }
  
  .navbar{
    background: #21243D !important;
    
    color: white !important;
    
  }
  
  #ff-s {
    font-size: 1.5rem !important;
  }
  #spacing {
    margin-bottom: 150px !important;
  }
  

  .info-section {
    background: #21243D !important;
    color: white !important;
    opacity: .8;
  }
  
  
  #imagen {
    padding-top: 5px;
    width: 80px !important;
  }
  
  .navbar-toggler {
    background-color: white !important;
  }
  
  
  .nav-link {
    font-size: 13px !important;
    border-bottom: 1px solid transparent !important ;
  }
  
  
  .nav-link:hover{
  border-bottom: 1px solid white !important;
  }
  
  .navbar-nav a  {
    
    padding-left: 15px!important;
  }
  
  .nav-link {
    color: white !important;
  }
  
  
  #trabajador {
  
        position: relative;
        top: 25%;
  
  }
  
  .info-head-section {
    background-color: #ff7c7c !important;
  }
  
  
  @media (max-width: 992px) {
    .home-inner {
      padding-top: 150px;
    }
  
  h1 {
    font-size: 2rem !important;
  }
  h2 {
    font-size: 2rem !important;
  }
   p {
     font-size: 1rem !important;
   }
  
  
    #trabajador {
  
      position: relative;
      top: 0%;
  
  }
  
  
  }
  